body {
  font-family: 'Roboto', sans-serif;
  color: #434455;
  background-color: #ffffff;
  line-height: 1.5;
  letter-spacing: 0.02em;
  font-size: 16px;
}

a {
  text-decoration: none;
  color: inherit;
}

ul,
li {
  list-style-type: none;
}

.logotipe {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}

.logotipe-unic {
  color: #2e2f42;
}

.nav-li {
  color: #2e2f42;
  font-weight: 500;
}

.nav-li:hover {
  color: #404bbf;
}

.nav-link:focus {
  color: #404bbf;
}

.nav-li:active {
  color: #404bbf;
  text-decoration: #404bbf 4px solid;
}

.address-header {
  font-style: normal;
}

.address-li {
  color: #434455;
}

.address-li:hover {
  color: #404bbf;
}

.address-li:focus {
  color: #404bbf;
}

.invite-section {
  background-color: #2e2f42;
}

.title-page {
  color: #fff;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.2;
  text-align: center;
}

.button-order {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  border-style: none;
  color: #fff;
  background: #4d5ae5;
  cursor: pointer;
}

.button-order:hover {
  background-color: #404bbf;
}

.button-order:focus {
  background-color: #404bbf;
}

.section-title {
  color: #2e2f42;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  text-transform: capitalize;
}

h3 {
  color: #2e2f42;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
}

.text-main {
  color: #434455;
}

.team {
  background-color: #f4f4fd;
}

.team li {
  background-color: #fff;
  text-align: center;
}

footer {
  background-color: #2e2f42;
}

.logotipe-footer {
  color: #f4f4fd;
}

.text-footer {
  color: #f4f4fd;
}
